<<<<<<< HEAD
﻿
@{
    ViewData["Title"] = "Create Blog";
}
@model MvcTraining.Repositories.Blog.BlogRequestModel;

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" id="errorMessage">
        @ViewData["ErrorMessage"]
    </div>
}

<div class="container">
    <h2 class="container-fluid text-center mb-5">Add Blog</h2>
    <form action="/Blog/SaveBlog" method="post" class="container-fluid form" >
        <div class="mb-3 row">
            <label for="blogTitle" class="col-sm-2 col-form-label">Blog Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="blogTitle" name="BlogTitle">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="blogAuthor" class="col-sm-2 col-form-label">Blog Author</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="blogAuthor" name="BlogAuthor">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="blogContent" class="col-sm-2 col-form-label">Blog Content</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="blogContent" name="BlogContent">
            </div>
        </div>
        <div class="mb-5 ">
            <button class=" col-2 btn btn-primary" style="margin-left:180px">Add</button>
        </div>
        
    </form>
</div>
=======
﻿<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form method="post" asp-controller="Blog" asp-action="Save">
                <div class="mb-3">
                    <label for="title" class="form-label">Blog Title</label>
                    <input type="text" class="form-control" id="title" placeholder="Enter blog title">
                </div>
                <div class="mb-3">
                    <label for="author" class="form-label">Blog Author</label>
                    <input type="text" class="form-control" id="author" placeholder="Enter blog author">
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">Blog Content</label>
                    <textarea class="form-control" id="content" rows="5" placeholder="Enter blog content"></textarea>
                </div>
                <hr>
                <div class="justify-content-between border-left">
                    <button type="submit" class="btn btn-success">Save</button>
                    <a href="Blog/Index" value="Cancel" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/pages/Blog/blog.js" asp-append-version="true"></script>
}
>>>>>>> 3959e07127a5de58d2cfb068f641101d5cf2346d
