@{
    ViewData["Title"] = "Blog List";
}

<div class="modal fade" id="delete-blog-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Blog</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this blog?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteAtag">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </div>
        </div>
    </div>
</div>

@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" id="successMessage">
        @ViewData["SuccessMessage"]
    </div>
}
<a asp-controller="Blog" asp-action="CreateBlog"><button type="submit" class="mb-3 btn btn-outline-primary add-btn">Add New Blog</button></a>
<table class="table" id="blog_table">
    <thead>
        <tr>
            <th scope="col">Blog Title</th>
            <th scope="col">Blog Author</th>
            <th scope="col">Blog Content</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script src="~/js/pages/Blog/blog.js" asp-append-version="true"></script>
    <script src="~/js/pages/Blog/blogAlertBox.js" asp-append-version="true"></script>
    <script src="~/js/pages/Blog/blogModalAlert.js" asp-append-version="true"></script>
}